
<html>
<head>
	<title>Créer un potin</title>
</head>
<body style="background: rgb(45, 227, 203)">
	<div style="text-align: center;"> 
	<h1>Créer un potin !</h1>
	<p>Balance ton potin via le formulaire ci-dessous</p>
	<form action='/gossips/new/' method='POST'>
		Saisie ici ton nom <br/> <input type='text' name='gossip_author'style="background: rgb(100, 119, 227)"/><br/>
		Balance ton potin <br/> <input type='text' name='gossip_content'style="background: rgb(100, 119, 227)"/><br/>
		<input type='submit'/>
	</form>
	<div/>
	<div>
		<p><a><img src="http://sc01.alicdn.com/kf/HTB1AwlilL2H8KJjy1zkq6xr7pXag/PU-Argos-Stress-Ball-Custom-PU-Foam.jpg" alt="smile" style="width: 10em" /> <a/></p>
	</div>
</body>
</html>